@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Cormorant+Garamond:wght@300&family=Open+Sans:wght@300&display=swap');

body{
    margin: 20px;
    font-family: 'Cormorant Garamond', serif;
    
}

.main{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #FAF9F6;
    color: black;
}

.first-row{
    display: flex;
}

.middle-row{
    display: flex;
    flex-direction: column;
}

.bottom-row{
    text-align: left;
    margin-left: 15px;
}

.number{
    float: left;
    margin-left: 15px;
}

.buisness{
    float: right;
    margin-right: 15px;
}

.name{
    height: 20px;
}
